<div class="custom-tab-bar">
  <button [routerLink]="['/inicio']" [ngClass]="{ 'tab-selected': isActive('/inicio') }">
    <img src="assets/img/icono-inicio.png" class="tab-icon-img" />
  </button>

  <div class="separator"></div>

  <button [routerLink]="['/agendar']" [ngClass]="{ 'tab-selected': isActive('/agendar') }">
    <img src="assets/img/icono-agendar.png" class="tab-icon-img" />
  </button>

  <div class="separator"></div>

  <button [routerLink]="['/perfil']" [ngClass]="{ 'tab-selected': isActive('/perfil') }">
    <img src="assets/img/icono-perfil.png" class="tab-icon-img" />
  </button>
</div>